<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dog.server.emailsend.mapper.SendInfoMapper">

    <resultMap id="BaseResultMap" type="org.dog.server.emailsend.entity.SendInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sender" column="sender" jdbcType="VARCHAR"/>
            <result property="senderMail" column="sender_mail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender,sender_mail
    </sql>
</mapper>
